/* Custom styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 50px 0;
}

#about, #portfolio, #contact {
  padding: 50px 0;
}

#portfolio {
  background: #000; 
}

.card {
  margin: 30px auto; 
  max-width: 600px; 
  background: #1c1c1c; 
  color: #fff; 
  border-radius: 10px; 
  overflow: hidden; 
  text-align: center; 
  padding: 20px; /
}

.carousel-inner {
  max-width: 500px; 
  margin: 0 auto; 
}

.carousel-item img {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 5px; 
}

.card-title {
  padding: 15px 0; 
  font-size: 1.3rem; 
  font-weight: bold;
  color: #fff; 
}
