/* Custom styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 50px 0;
}

#about, #portfolio, #contact {
  padding: 50px 0;
}

#portfolio {
  background: #000; /* 黑色背景 */
}

.card {
  margin: 30px auto; /* 垂直间距 */
  max-width: 700px; /* 每个卡片的最大宽度 */
  background: #1c1c1c; /* 卡片的背景色 */
  color: #fff; /* 文本颜色 */
  border-radius: 10px; /* 圆角 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-align: center; /* 居中对齐 */
  padding: 20px; /* 内边距 */
}

.carousel-inner {
  max-width: 500px; /* 限制轮播图最大宽度 */
  margin: 0 auto; /* 轮播图居中 */
}

.carousel-item img {
  width: 100%; /* 图片自适应轮播容器宽度 */
  height: auto; /* 保持图片比例 */
  border-radius: 10px; /* 圆角 */
}

.card-title {
  padding: 15px 0; /* 缩小文字与图片间的间距 */
  font-size: 1.3rem; /* 调整文字大小 */
  font-weight: bold;
  color: #fff; /* 标题的颜色 */
}
